# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

coverage/

.turbo/

/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
